SUPABASE_URL=https://cyevfmevencurfoolxjh.supabase.co
SUPABASE_KEY=sb_publishable_wMml7XrguAviNONZClfAjA_tHi3t9Il
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5ZXZmbWV2ZW5jdXJmb29seGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDQyNDM1OCwiZXhwIjoyMDk2MDAwMzU4fQ.-_O_Hqg8Wm-seS1TlpcHZPC9rIi09uqkSLES2qwilgk